#root {
  margin: auto;
  padding: auto;
}

.overlay {
  position: fixed;
  /* 画面全体に固定 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* 透明度を持たせた黒で背景を暗くする */
  display: flex;
  align-items: center;
  /* 中央揃えのためのスタイリング */
  justify-content: center;
  z-index: 1000
}

#memo {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  max-width: 1500px;
  height: auto;
  /* 最大幅を設定 */
  width: 100%;
  /* 100% but max is 600px */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.hoverEffect {
  margin-right: 4px;
  margin-left: 4px;
  background-color: #f5f5f5;
  color: #434343;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.hoverEffect:hover {
  background-color: #cccccc;
  /* ホバー時の背景色 */
  color: #000000;
  /* ホバー時のテキスト色 */
}


#editForm {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  height: auto;
  /* 最大幅を設定 */
  width: 100%;
  /* 100% but max is 600px */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

#createFrom {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  height: auto;
  /* 最大幅を設定 */
  width: 100%;
  /* 100% but max is 600px */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}